.hero {
  position: relative;
  margin: 0 -20px;
  margin-bottom: 20px;
  padding: 10px;
  color: #fff;
  overflow: hidden;
}

.hero__overlay {
  position: absolute;
  inset: 0;
  background-color: var(--color-primary-light);
  opacity: 0.3;
  z-index: -10;
}

.hero__img {
  padding: 0 5vw;
}

.hero__content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 10;
}

.hero__title {
  padding: 1rem 10px;
  width: 100%;
  text-align: center;
  font-size: calc(2rem + 1.7vw);
  color: currentColor;
}

.hero__text {
  margin-bottom: 0;
  padding: 1rem 10px;
  font-size: 1rem;
  color: currentColor;
}

@media (min-width: 991px) {
  .hero__text {
    font-size: calc(1rem + 1.1vw);
  }

  .hero__img {
    padding: 0 15vw;
  }
}
