.link-reset {
  text-decoration: none;
  outline: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.input-reset {
  padding: 0;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}
