@mixin wrap-absolute {
  position: absolute;
  inset: 0;
}

@mixin transition-basic {
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

@mixin border {
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius-basic;
}

@mixin background {
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}