.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-card {
  display: block;
  padding: 10px;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px #eaeaea;
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
