// COLOR VARS
$color-primary: #00a0ff;
$color-primary_shade: #0068A6;
$color-primary_light: #e5f6fe;

$color-secondary: #ff6c00;
$color-secondary_shade: #ff5900;
$color-secondary_light: rgba(255, 108, 0, .5);

$color-third: #6b00ff;

$color-smooth-black: #060606;
$color-grey: #ccc;
$color-grey_max_light: #eaeaea;

$color-ant-grey: #d9d9d9;

$page-background: $color-grey_max_light;


[data-lingvo-cards-theme="light"] {
  --color-primary: #00a0ff;
  --color-primary_shade: #0068A6;
  --color-primary_light: #e5f6fe;

  --color-secondary: #ff6c00;

  --color-third: #6b00ff;

  --color-grey_dark: #666;

  --body-background: #ccc;
  --page-background: #fff;
  --button-basic-background: #f1f1f1;
  --color-hover: #0068A6;
  --link-color: #000;
  --close-button-color: rgba(0, 0, 0, .7);
}



[data-lingvo-cards-theme="dark"] {
  --color-primary: #00a0ff;
  --color-primary_shade: #0068A6;
  --color-primary_light: #e5f6fe;
  ;
  --color-secondary: #ff6c00;

  --color-third: #6b00ff;

  --page-background: black;
  --button-basic-background: #f1f1f1;
  --color-hover: #0068A6;
  --link-color: #000;
}

// COMMON VARS
$border-radius-basic: 10px;
$medium-screen: 991px;
$small-screen: 767px;
$mobile-screen: 575px;

:root {
  --medium-screen: 991px;
  --screen-width: 100vm;
  --screen-width: 100vmin;

  --screen-real-width: 100vw;
}

@media (min-width: $medium-screen) {
  :root {
    --screen-width: calc(var(--medium-screen) - 40px);
    --screen-real-width: calc(var(--medium-screen) - 40px);
  }
}