:root {
  --svg-fill: var(--color-primary);
  --svg-fill-hover: var(--color-primary-shade);
  --svg-fill-active: var(--color-primary-light);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: var(--color-smooth-black);
}

body.modal-opened {
  overflow: hidden;
}

#root {
  min-height: 100vh;
}

.main {
  margin-top: 90px;
  padding-inline: 10px;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: var(--medium-screen);
  min-height: 100vh;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 20px;
  min-height: calc(100vh - 60px);
}

.footer {
  margin-inline: 10px;
  padding: var(--padding-basic);
  max-width: var(--medium-screen);
  background-color: var(--color-primary-light);
  color: #fff;
}

.img {
  max-width: 100%;
}

.svg {
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: fill;
  display: inline-block;
  width: 25px;
  height: auto;
  fill: var(--svg-fill);
  overflow: hidden;

  &:hover {
    fill: var(--svg-fill-hover);
  }
  &:active {
    fill: var(--svg-fill-active);
  }
}

.svg__root {
  width: 100%;
  height: 100%;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  /* background-color: var(--color-secondary); */
  min-width: 150px;
  text-align: center;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  color: var(--color-primary);
}

.btn-card {
  display: block;
  padding: 10px;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px #eaeaea;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (min-width: calc(var(--medium-screen) + 1px)) {
  .main {
    margin-top: 150px;
    padding-inline: 10px;
  }
}
