.nav {
  width: 100%;
  position: relative;
}

.nav__btn-close {
  position: relative;
  display: none;
  width: 23px;
  height: 23px;
}

.nav__panel--open .nav__btn-close {
  display: inline-block;
}

.btn-close__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: var(--color-primary);

  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: background-color;
}

.nav__btn-close:hover .btn-close__line {
  background-color: var(--color-primary-shade);
}

.btn-close__line:nth-child(1) {
  top: 45%;
  transform: rotate(-45deg);
}

.btn-close__line:nth-child(2) {
  top: 45%;
  transform: rotate(45deg);
}

.nav__panel {
  position: absolute;
  top: calc(var(--padding-basic) * -1);
  left: 0;

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  padding: 15px;
  width: 50%;
  max-width: 420px;
  min-width: 250px;
  height: 100vh;

  /* background-color: #fff; */
  background-color: #eaeaea;

  overflow-y: auto;
  visibility: hidden;
  transform: translateX(-120%);
  transition: transform 0.3s ease;

  z-index: -1100;
}

.nav__panel--open {
  visibility: visible;
  transform: translateX(calc(var(--padding-basic) * -1));
  z-index: 1100;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  font-size: 18px;
  line-height: 100%;
  color: var(--color-black);
  outline: none;

  text-decoration: none;
  outline: 1px solid transparent;
  transition: outline 0.3s ease;
}

.nav__link:focus-visible {
  outline: 1px solid var(--color-primary);
  outline-offset: 3px;
}

.nav__link:hover {
  color: var(--color-primary);
  background-color: inherit;
  outline: 1px solid transparent;
}

.nav__link:active {
  color: var(--color-primary-shade);
  background-color: inherit;
}

.nav__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
